<div class="header">
  <div id="header-content">
    <p id="title"><b>{{title}}</b></p>
    <form *ngIf="showSearch">
      <mat-form-field floatLabel="never">
        <mat-label style="font-style: italic; font-size: 15px; color: darkgray">Type to filter the table</mat-label>
        <mat-icon matSuffix>search</mat-icon>
        <input [formControl]="filterTable" matInput placeholder="Ex. Danniel Blichman">
      </mat-form-field>
    </form>
  </div>
</div>
