.header {
  background: white;
  padding: 40px;
  box-shadow: 0 8px 8px -2px lightgrey;
  //width: 100%;
}

#header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 120px;
  padding-right: 120px;

}

#title {
  font-size: 22px;
  margin-left: 45px;
}

.mat-form-field {
  width: 250px;
}

::ng-deep .mat-form-field-ripple{
  display: none !important;
}

@media (max-width: 768px) {
  #header-content {
    flex-direction: column;
  }
}
