<div class="close">X</div>
<h2 class="add-user-title" mat-dialog-title>Add New User</h2>

<mat-dialog-content class="mat-typography">
  <user-details btnSize="small" btnText="Add User" (btnClicked)="addUser($event)"></user-details>
</mat-dialog-content>
