<mat-dialog-content class="mat-typography">
  <div class="d-flex flex-column align-items-center justify-content-center p-4">
    <mat-icon class="done">check_circle</mat-icon>
    <span class="title mt-3">{{ title }}</span>
  </div>
</mat-dialog-content>
