<form class="inviteForm" [formGroup]="addUserForm">
  <div class="d-flex justify-content-center align-items-center">
    <mat-icon class="me-3">face</mat-icon>
    <mat-form-field>
      <mat-label>* First Name</mat-label>
      <input formControlName="firstName" matInput>
      <mat-error *ngIf="addUserForm.get('firstName').hasError('required') && addUserForm.get('firstName').touched">
        First name is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="addUserForm.get('firstName')?.errors?.maxlength && addUserForm.get('firstName').touched">
        Length should be less than 60
      </mat-error>
    </mat-form-field>
    &nbsp;&nbsp;
    <mat-form-field>
      <mat-label>* Last Name</mat-label>
      <input formControlName="lastName" matInput>
      <mat-error *ngIf="addUserForm.get('lastName').hasError('required') && addUserForm.get('lastName').touched">
        Last name is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="addUserForm.get('lastName')?.errors?.maxlength && addUserForm.get('lastName').touched">
        Length should be less than 60
      </mat-error>
    </mat-form-field>
  </div>

  <div class="d-flex justify-content-center align-items-center">
    <mat-icon class="me-3">alternate_email</mat-icon>
    <mat-form-field>
      <mat-label>* Email</mat-label>
      <input formControlName="email" matInput>
      <mat-error *ngIf="addUserForm.get('email').invalid && !addUserForm.get('email').value && addUserForm.get('email').touched">
        Email is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="
        addUserForm.get('email').invalid &&
        addUserForm.get('email')?.errors.pattern">
        Please enter valid email address
      </mat-error>
    </mat-form-field>
  </div>

  <div class="d-flex justify-content-center align-items-center">
    <mat-icon class="me-3">phone</mat-icon>
    <mat-form-field>
      <mat-label>* Phone</mat-label>
      <input formControlName="phone" matInput>
      <mat-error *ngIf="addUserForm.get('phone')?.invalid && addUserForm.get('phone')?.touched">
        Phone number is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="d-flex justify-content-center align-items-center">
    <mat-icon class="me-3">badge</mat-icon>
    <mat-form-field>
      <mat-label>* Personal ID</mat-label>
      <input formControlName="personalId" matInput>
      <mat-error *ngIf="addUserForm.get('personalId')?.hasError('required') && addUserForm.get('personalId')?.touched">
        Personal ID <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="addUserForm.get('personalId')?.errors?.maxlength && addUserForm.get('personalId').touched">
        Length should be 11
      </mat-error>
      <mat-error *ngIf="addUserForm.get('personalId')?.errors?.minlength && addUserForm.get('personalId').touched">
        Length should be 11
      </mat-error>
    </mat-form-field>
  </div>

  <div class="d-flex justify-content-center align-items-center">
    <mat-icon class="me-3">female</mat-icon>
    <mat-form-field>
      <mat-label>* Gender</mat-label>
      <mat-select formControlName="gender">
        <mat-option value="Male">Male</mat-option>
        <mat-option value="Female">Female</mat-option>
      </mat-select>
      <mat-error *ngIf="addUserForm.get('gender').invalid && addUserForm.get('gender').touched">
        Gender <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <div formGroupName="address">
    <strong class="strong-text">Address</strong>
    <div class="d-flex justify-content-center align-items-center" >
      <mat-icon class="me-3">flag</mat-icon>
      <mat-form-field>
        <mat-label>Country</mat-label>
        <input formControlName="country" matInput>
      </mat-form-field>
    </div>

    <div class="d-flex justify-content-center align-items-center" >
      <mat-icon class="me-3">location_city</mat-icon>
      <mat-form-field>
        <mat-label>City</mat-label>
        <input formControlName="city" matInput>
      </mat-form-field>
    </div>

    <div class="d-flex justify-content-center align-items-center" >
      <mat-icon class="me-3">edit_road</mat-icon>
      <mat-form-field>
        <mat-label>Street</mat-label>
        <input formControlName="street" matInput>
      </mat-form-field>
    </div>

    <div class="d-flex justify-content-center align-items-center" >
      <mat-icon class="me-3">code</mat-icon>
      <mat-form-field>
        <mat-label>Zip Code</mat-label>
        <input formControlName="zipCode" matInput>
      </mat-form-field>
    </div>
  </div>

  <div formArrayName="accounts" class="position-relative">
    <strong class="strong-text">Accounts</strong>
    <div class="d-flex justify-content-center align-items-center"
         *ngFor="let item of accounts['controls']; let i = index">
      <div [formGroupName]="i" class="d-flex justify-content-center align-items-center">
        <mat-icon class="me-3">account_box</mat-icon>
        <mat-form-field>
          <mat-label>* Account Number</mat-label>
          <input formControlName="accountNumber" matInput>
          <mat-error *ngIf="accounts['controls'][i]?.invalid && accounts['controls'][i]?.touched">
            Account Number <strong>required</strong>
          </mat-error>
        </mat-form-field>
        &nbsp;&nbsp;
        <mat-form-field>
          <mat-label>* Currency</mat-label>
          <mat-select formControlName="currency">
            <mat-option value="USD">USD</mat-option>
            <mat-option value="EUR">EUR</mat-option>
          </mat-select>
          <mat-error *ngIf="accounts['controls'][i]?.invalid && accounts['controls'][i]?.touched">
            Currency <strong>required</strong>
          </mat-error>
        </mat-form-field>
        &nbsp;&nbsp;
        <mat-icon [ngStyle]="{'visibility': i > 0 ? 'visible' : 'hidden'}"
                  (click)="removeAccount(i)" class="delete-icon">
          delete
        </mat-icon>
      </div>
    </div>
    <div class="d-flex align-items-center add-account position-absolute" (click)="addAccount()">
      <mat-icon class="me-2 m-0">add</mat-icon>
      <span>Add Account</span>
    </div>
  </div>

  <div>
    <strong class="strong-text">Role</strong>
    <div class="d-flex justify-content-start align-items-center">
      <mat-icon class="me-3">vpn_key</mat-icon>
      <mat-form-field style="width: 45%">
        <mat-label>* Role</mat-label>
        <mat-select formControlName="role">
          <mat-option value="Admin">Admin</mat-option>
          <mat-option value="User">User</mat-option>
        </mat-select>
        <mat-error *ngIf="addUserForm.get('role')?.invalid && addUserForm.get('role')?.touched">
          Role is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-between mb-3">
    <bank-button [size]="btnSize" (click)="onBtnClick()" class="w-50">{{ btnText }}</bank-button>
    <span class="form-error invalid" *ngIf="!addUserForm.valid">Fill in all the fields</span>
    <span class="form-error valid" *ngIf="addUserForm.valid">Good to go</span>
  </div>

</form>
