

.mat-form-field {
  width: auto;
}

.mat-icon {
  margin-top: -1.5rem;
}

.strong-text {
  font-size: 1rem;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 25px;
}

::ng-deep .mat-focused {
  .mat-form-field-label {
    color: #3b8fff!important;
  }
}

::ng-deep .mat-dialog-container {
  overflow: hidden!important;
}

.form-error {
  font-style: italic
}

.form-error.valid {
  color: #238020
}

.form-error.invalid {
  color: #ff563c
}


.add-account {
  right: 0;
  bottom: 0;
  cursor: pointer;
}
