$btn-color-primary: #3b8fff;
$btn-color-error: #ff7770;
$btn-padding-large: 16px 20px;
$btn-padding-small: 10px 14px;

.btn {
  width: 100%;
  border-radius: 25px;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  transition: .3s;

  &.btn-small {
    padding: $btn-padding-small;
    font-size: 14px;
  }

  &.btn-large {
    padding: $btn-padding-large;
  }

  &.primary {
    background-color: $btn-color-primary;

    &:hover {
      background-color: darken($btn-color-primary, 5%);
    }
  }

  &.error {
    background-color: $btn-color-error;

    &:hover {
      background-color: darken($btn-color-error, 5%);
    }
  }
}
