<button type="button"
        [ngClass]="{
          'primary': type === 'primary',
          'error': type === 'error',
          'btn-small': size === 'small',
          'btn-large': size === 'large'
        }"
        class="btn">
  <ng-content></ng-content>
</button>
