#profile {
  position: relative;
  display: flex;
  width: 80%;
  margin: auto;
}

.settings {
  cursor: pointer;
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #9ea7a9;
  //left: -22px;
  top: -22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 45px;
  justify-content: space-between;
  width: 100%;
}

.account-icon {
  font-size: 180px;
  color: darkgray;
  height: unset;
  width: unset;
}

.admin_key {
  position: absolute;
  background-color: #9a35ff;
  color: white;
  padding: 2px 10px;
  border-radius: 20px;
  height: 30px;
  width: 30px;
  right: 0;
  bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resend_invite_button {
  //background-color: #9a35ff;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  padding: 16px 20px 16px 20px;
  border-radius: 25px;
  width: 50%;
  background-color: #3b8fff;
  margin-top: 50px;
}
::ng-deep .mat-slide-toggle .mat-slide-toggle-bar {
  background-color: #ff928e;
}

::ng-deep .mat-slide-toggle .mat-slide-toggle-thumb {
  background-color: #ff0a07;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: lightblue;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #3b8fff;
}

::ng-deep .mat-focused {
  .mat-form-field-label {
    color: #3b8fff!important;
  }
}

.permissions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 26%;
  justify-content: space-between;
}

.hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}

:host ::ng-deep .mat-list-item-content {
  padding: 0 0 0 35px!important;
}

.opacity > * :not(:first-child) {
  opacity: 0.4;
}
