<app-header [showSearch]="false" [title]="'User Profile'"></app-header>
<div id="profile">
  <div class="settings"><mat-icon style="color: white; font-size: 22px;">settings</mat-icon></div>

  <div class="main">
    <div class="d-flex flex-column align-items-center">
      <div class="position-relative">
        <mat-icon class="account-icon">account_circle</mat-icon>
        <div *ngIf="userData.role === 'Admin'" class="admin_key"><mat-icon style="font-size: 18px;color: white;">vpn_key</mat-icon></div>
      </div>
      <span *ngIf="userData.active" class="pb-4" style="font-size: 12px; color: darkgray">UPLOAD A PHOTO</span>
      <h1 [ngStyle]="{opacity: userData.active ? '1' : '0.4', paddingTop: !userData.active ? '42px' : '0px'}" class="m-0">{{userData.firstName}}</h1>
      <h1 [ngStyle]="{opacity: userData.active ? '1' : '0.4'}" class="m-0">{{userData.lastName}}</h1>
      <p [ngStyle]="{opacity: userData.active ? '1' : '0.4'}" class="pb-4" style="font-size: 12px;">{{userData.email}}</p>
    </div>

    <div class="d-flex flex-column">
      <h2 class="pb-4">Details</h2>
      <span class="mb-3">
        <mat-slide-toggle (change)="toggleUserStatus($event)" [checked]="userData.active"></mat-slide-toggle>
        The user is
        <strong *ngIf="userData.active">Active</strong>
        <strong *ngIf="!userData.active">Inactive</strong>
      </span>

      <user-details btnSize="large"
                    btnText="Save Changes"
                    [formValue]="userData"
                    (btnClicked)="updateUser($event)">
      </user-details>


<!--        <mat-form-field [ngStyle]="{opacity: userData.active ? '1' : '0.4'}">-->
<!--          <mat-label>* First Name</mat-label>-->
<!--          <form [formGroup]="userForm">-->
<!--            <input [readonly]="!userData.active" formControlName="firstName" matInput>-->
<!--          </form>-->
<!--        </mat-form-field>-->


<!--        <mat-form-field [ngStyle]="{opacity: userData.active ? '1' : '0.4'}">-->
<!--          <mat-label>* Last Name</mat-label>-->
<!--          <form [formGroup]="userForm">-->
<!--          <input [readonly]="!userData.active" formControlName="lastName" matInput>-->
<!--          </form>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field [ngStyle]="{opacity: userData.active ? '1' : '0.4'}">-->
<!--          <mat-label>* Role</mat-label>-->
<!--          <form [formGroup]="userForm">-->
<!--          <mat-select [disabled]="!userData.active" formControlName="role">-->
<!--            <mat-option value="Admin">Admin</mat-option>-->
<!--            <mat-option value="User">User</mat-option>-->
<!--          </mat-select>-->
<!--          </form>-->
<!--        </mat-form-field>-->

<!--      <bank-button *ngIf="userData.active" (click)="updateUser()" class="w-50 mt-4">Save Changes</bank-button>-->
    </div>

  </div>
</div>


