#deleteDiv {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}

.userStatus {
  color: #3b8fff;
}

.horizontalLine {
  border: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

