<!--<div (click)="closeDialog()" class="close">X</div>-->
<div class="pt-4">
  <h2 class="mb-0" style="font-size: 22px; margin-left: 9.5%;" mat-dialog-title>Delete User</h2>
</div>
<mat-dialog-content class="mat-typography">
  <div id="deleteDiv">
    <div class="d-flex align-items-center">
      <div class="me-3"><mat-icon>face</mat-icon></div>
      <div class="me-5">{{data.user.firstName}}&nbsp;{{data.user.lastName}}</div>
      <div class="userStatus" *ngIf="data.user.active"><strong>Active User</strong></div>
      <div class="userStatus" *ngIf="!data.user.active"><strong>Inactive User</strong></div>
    </div>

    <div class="d-flex w-100">
      <hr class="horizontalLine w-100 m-0 p-0">
    </div>

    <div class="d-flex w-100">
      <bank-button class="mt-4 w-100" (click)="removeUser()" [type]="'error'" [size]="'small'">Delete User</bank-button>
    </div>
  </div>

</mat-dialog-content>
