/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; background-color: rgba(0, 0, 0, 0.07) }

@import '@angular/material/prebuilt-themes/indigo-pink.css';


.settings-icon, .delete-icon {
  cursor: pointer;
  color: darkgray;
}

.delete-icon:hover {
  color: #ff0a07;
  transition: .2s;
}

.settings-icon:hover {
  color: #3b8fff;
  transition: .5s;
}

