
<app-header [showSearch]="true" [title]="'User List'"></app-header>
<div id="table">
  <div (click)="inviteNewUser()" class="newUserButton">
    <mat-icon style="color: white">add</mat-icon>
  </div>
  <div class="d-flex flex-column w-100">
    <table mat-table [dataSource]="dataSourceCopy | slice: lowValue : highValue" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>
          <div class="table-header">
            <p>USER</p>
          </div>
        </th>
        <td [ngStyle]="{opacity: !element.active ? 0.5 : 1}" mat-cell *matCellDef="let element" class="position-relative">
          {{element.firstName}}&nbsp;{{element.lastName}}<br>
          <span class="fw-light">{{element.email}}</span>

          <div class="position-absolute account-circle" [ngStyle]="{opacity: !element.active ? 0.2 : 1}">
              <mat-icon style="color: darkgray" id="account_circle">account_circle</mat-icon>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef>
          <div class="table-header">
            <p>ROLE</p>
          </div>

        </th>
        <td [ngStyle]="{opacity: !element.active ? 0.5 : 1}" mat-cell *matCellDef="let element">
          <div class="table-role">
            <mat-icon
              class="admin_key w-auto"
              [ngStyle]="!element.active && {backgroundColor: '#ededed', color: 'gray'}"
              *ngIf="element.role === 'Admin'">vpn_key
            </mat-icon>&nbsp;&nbsp;
            <p class="m-0">{{element.role}}</p>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef>
          <div class="table-header">
            <p>STATUS</p>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-slide-toggle (change)="toggleUserStatus($event, element.id)" [checked]="element.active"></mat-slide-toggle>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> ACTIONS </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon [ngStyle]="{visibility: element.active ? 'visible' : 'hidden'}"
                    (click)="openProfile(element)"
                    class="settings-icon">settings</mat-icon>&nbsp;
          <mat-icon (click)="onRemoveUserClick(element)" class="delete-icon">delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</div>

<mat-paginator class="position-absolute w-100 bottom-0"
               #paginator
               (page)="getPaginatorData($event)"
               [length]="dataSourceCopy?.length"
               [pageSize]="pageSize"
               aria-label="Select page">
</mat-paginator>

