#table {
  position: relative;
  display: flex;
  width: 70%;
  margin: auto;
}

p {
  margin:0 !important;
}

::ng-deep .mat-elevation-z8 {
  box-shadow: none!important;
  margin-top: 45px;
}

::ng-deep .mat-table {
  background: #ededed;
  width: 100%;
}

.account-circle {
  top: 50%;
  left: -50px;
  transform: translateY(-50%);
}

.newUserButton {
  cursor: pointer;
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #5867dd;
  //left: -22px;
  top: -22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

//th:nth-child(4), td:nth-child(4) {
//  text-align: center;
//}
//th:nth-child(3), td:nth-child(3) {
//  text-align: left;
//}
//
//td:last-child, th:last-child {
//  text-align: right;
//}

//td.mat-cell:first-of-type {
//  padding-left: 0;
//}

th:nth-child(2) {
  width: 370px;
}

th:hover {
  cursor: pointer;
}

#account_circle {
  font-size: 40px;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: lightblue;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #3b8fff;
}

::ng-deep .mat-slide-toggle .mat-slide-toggle-bar {
  background-color: #ff928e;
}

::ng-deep .mat-slide-toggle .mat-slide-toggle-thumb {
  background-color: #ff0a07;
}

.table-header {
  display: flex;
  align-items: center;
}

.table-role {
  display: flex;
  align-items: center;
}

::ng-deep .mat-icon.admin_key {
  background-color: #9a35ff;
  color: white;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 15px;
}

//@media (max-width: 880px) {
//  td:first-child {
//    padding-right: 30px;
//  }
//}

::ng-deep tr.mat-row, tr.mat-footer-row {
  height: 70px!important;
}


